/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.nome-logo {
  color: #ffcc00; /* Cor amarela para o nome "Pneu Forte" */
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Configuração das cores principais */
:root {
  --cor-principal: #000000; /* Preto */
  --cor-secundaria: #ffcc00; /* Amarelo */
}

.logo-carros-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.logo-carros {
  width: 500px;
  height: auto;
}

/* Estilos do Container Principal */
.recepcao-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

/* Header - Logo no topo */
.header {
  background-color: var(--cor-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
}

/* Conteúdo Principal */
.main-content {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

/* Vídeo */
.video-container {
  position: relative; /* Para permitir o posicionamento absoluto do card */
}

.video {
  width: 100%; /* Faz o vídeo ocupar toda a largura disponível */
  height: auto;
}
/* Colunas Laterais */
.side-columns {
  display: flex;
  flex-direction: row;
  width: 30%;
  background-color: var(--cor-principal);
  color: #ffffff;
}

/* Coluna 1 - Carros em Atendimento */
.column.carros {
  flex: 1;
  padding: 20px;
  border-right: 2px solid #00582b;
}

.column h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--cor-secundaria);
  font-weight: bold;
}

/* Remover marcadores de lista */
ul {
  list-style-type: none;
}

/* Estilos dos Carros */
.car-item {
  padding: 15px;
  font-size: 24px; /* Aumentando o tamanho da fonte */
  border: 1px solid #00fff2;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}

.car-item:hover {
  transform: scale(1.03);
}

.car-item .andamento {
  display: block;
  font-size: 22px; /* Tamanho do texto "EM ANDAMENTO" */
  color: red;
  font-weight: bold;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Card de carro finalizado */
.car-finalizado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o card */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 10; /* Garante que o card fique sobre o vídeo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao card */
  animation: fadeInOut 20s ease-out forwards; /* Animação para desaparecer após 20 segundos */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer .message {
  text-align: center;
}

/* Rodapé */
.footer {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.bemvindo {
  font-weight: bold;
  color: var(--cor-secundaria);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .side-columns {
    width: 100%;
    flex-direction: row;
  }

  .column {
    flex: 1;
    border-bottom: none;
    border-right: 2px solid #00582b;
  }

  .column:last-child {
    border-right: none;
  }

  .car-item,
  .servico-item {
    font-size: 18px;
  }
}
